.cards{
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.cardContainer{
  width: 100%;
  margin-bottom: 24px;
}

.card{
  background-color: #0A0A0A;
  border: 1px solid #3D3D3D;
  border-radius: 10px;
  width: 100%;
  min-height: 360px;
}

.card img{
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.card .iconFavorite {
  fill: transparent;
  stroke: #FFF;
  stroke-width: 2;
  position: relative;
  left: 87%;
  bottom: 207px;
}

.card .text{
  padding: 0 12px;
}

.card h3{
  font-family: "Creepster", system-ui;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 2px;
  color: #FAFAFA;
  margin-bottom: 4px;
  white-space: nowrap;          
  overflow: hidden;            
  text-overflow: ellipsis;     
  width: 190px;                
}

.card p{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #A4A4A4;
  margin-bottom: 4px;
}

@media screen and (min-width: 576px){

  .cardContainer,
  .card{
    width: 224px;
  }
}

@media screen and (min-width: 1024px){

  .card img{
    width: 224px;
  }
}