nav {
  background-color:#0A0A0A; 
  border-bottom: 1px solid #3D3D3D;
  padding: 20px 0;
  font-family: "Poppins", sans-serif;
}

.nav-links ul{
  padding-left: 0 !important;
}

.nav-links a {
  display: flex; 
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  border: 1px solid #3D3D3D;
  cursor: pointer;
  transition: 1s;
}

.link:first-child a{
  color: #0A0A0A;
  background-color: #FFF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.link:last-child a{
  color: #A4A4A4;
  background-color: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.link > a > img {
  margin-right: 8px;
}

.contador {
  width: 20px;
  height: 20px;
  background-color: #FFF; 
  color: #0A0A0A;
  border: 1px solid #3D3D3D;
  font-size: 14px;
  font-weight: 700;
  border-radius: 50%;
  text-align: center;
  margin-left: 8px;
}
