<nav>
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start logo">
        <a routerLink="/" routerLinkActive="active">
          <img src="/assets/logo.svg" alt="Logo">
        </a>
      </div>
      <div class="col-12 col-sm-6 mt-sm-0 mt-4 d-flex justify-content-center justify-content-sm-end nav-links">
        <ul class="d-flex align-items-center mb-0">
          <li class="link">
            <a routerLink="/home" routerLinkActive="active">
              <img src="/assets/home.svg" alt="Início">
              Início
            </a>
          </li>
          <li class="link d-flex">
            <a routerLink="/favorites" routerLinkActive="active">
              <img src="/assets/favorite-filled.svg" alt="Favoritos">
              Favoritos
              <span class="contador">3</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
